name: Java CI with Gradle

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    # Java 21 をセットアップ
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'

    # Gradleのキャッシュ設定
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v3

    # 実行権限を与える
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    # テストを実行する
    - name: Build with Gradle
      run: ./gradlew build
